@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  font-family: 'Lato';
  font-weight: 300;
  color: #888;
}

.title {
  text-align: center;
}

.newTD {
  width: 100px;
  background: radial-gradient(#ff6bd0 40%, #f000a4);
  color: white;
  text-align: center;
  padding: 15px 25px;
  border-radius: 3px;
  margin: 30px;
  border: none;
}

#lists-container {
  display: flex;
  flex-wrap: wrap;
}

.list {
  max-width: 250px;
  padding: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid black;
  position: relative;
}

small {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.todos-container {
  margin-top: 15px;
}

.todo {
  padding: 5px;
  margin: 5px 0;
}

.todo-text {
  margin-right: 5px;
}

.fa {
  padding: 0 3px;
}

.done {
  text-decoration: line-through;
}
